/* Write your CSS here */
.bg1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/random-no-generator-bg.png');
  height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg2 {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px 0px #bfbfbf;
}
.heading {
  color: #0b69ff;
  font-family: 'roboto';
  font-size: 40px;
  font-weight: bold;
}
.paragraph {
  color: #333333;
  font-family: 'roboto';
  font-size: 18px;
  font-weight: bold;
}
.paragraph2 {
  color: #0b69ff;
  font-family: 'roboto';
  font-size: 38px;
  font-weight: bold;
}
.button {
  height: 42px;
  width: 130px;
  padding: 10px;
  color: #ffffff;
  background-color: #0b69ff;
  font-family: 'roboto';
  font-size: 16px;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  border-width: 0px;
}
